<!-- Jevtić Ivan 18/0550 -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedAdviceNTreatment</title>
    <link rel="stylesheet" type="text/css" href="fajlovi/bootstrap.min.css">
    <link rel="stylesheet" href="style1.css">
    <link rel="stylesheet" href="odobravanjeZahteva.css">
    <script src="fajlovi/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <!-- Header -->
        <div class="row" id="header">
            <div class="col-sm-12">
                <nav class="navbar navbar-expand-sm">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#">POCETNA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">USLUGE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">UKLONI KORISNIKA</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">ZAHTEVI</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PROMENI LOZINKU</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">LOGOUT</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Center -->
        <div class="row">
            <!-- Left Div -->
            <div class="col-lg-2 col-md-2 left">
                <img src="pictures/logo.png">
            </div>
            <!-- Right Div -->
            <div class="col-lg-10 col-md-10 right">
            <br><br>
            <table class="table table-striped">
                <th>Korisničko ime</th>
                <th>JMBG</th>
                <th>Kategorija</th>
                <th>&nbsp;</th>
                <th>&nbsp;</th>
                <tr>
                    <td>Filip123</td>
                    <td>0507999123</td>
                    <td>Lekar</td>
                    <td> <button class="btn btn-secondary">Potvrdi</button>  </td>
                    <td><button class="btn btn-secondary">Odbij</button> </td>
                </tr>
                <tr>
                    <td>Ivan456</td>
                    <td>060899945</td>
                    <td>Pacijent</td>
                    <td> <button class="btn btn-secondary">Potvrdi</button>  </td>
                    <td><button class="btn btn-secondary">Odbij</button> </td>
                </tr>
            </table>


            </div>
        </div>
        <!-- Footer -->
        <div class="row">
            <div class="col-sm-12 footer lightbluebg">
                All rights reserved: FifoDevTeam
            </div>
        </div>
    </div>
</body>
</html>